<!DOCTYPE html>
<html lang="en">
<head>
    <title>Albums</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Albums</h1>
    {% if albums %}
        <ul>
            {% for album in albums %}
                <li>
                    <a href="/albums/{{ album[0] }}">{{ album[1] }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No albums found.</p>
    {% endif %}

    <br>
    <a href="/">Back to Home</a>
</body>
</html>