<!DOCTYPE html>
<html>
<head>
    <title>K29Photo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to K29Photo</h1>

    <p>This is the homepage of our photo sharing app.</p>

    <h2>Navigation</h2>
    <ul>
        <li><a href="/register">Register User</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/logout">logout</a></li>
        <li><a href="/top-users">View top 10 Users</a></li>
        <li><a href="/friends">View Friends. Note: You should be logged in</a></li>
        <li><a href="/albums">View Albums.</a></li>
        <li><a href="/create-album">Create Album. Note: You should be logged in</a></li>
    </ul>
</nav>
</body>
</html>