<!DOCTYPE html>
<html>
<head>
    <title>Popular Tags</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Most Popular Tags</h1>

    <a href="/">Back to Home</a>
    <hr>

    <ul>
        {% for tag in tags %}
            <li>
                <a href="/tags/{{ tag[0] }}">{{ tag[0] }}</a> 
                (Photos: {{ tag[1] }})
            </li>
        {% else %}
            <p>No tags found.</p>
        {% endfor %}
    </ul>
</body>
</html>