<!DOCTYPE html>
<html>
<head>
    <title>Upload Photo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Upload Photo</h1>

    <form method="POST" enctype="multipart/form-data">
        <label>Caption:</label>
        <input type="text" name="caption" required>
        <br><br>

        <label>Tags (put different tags with a gap: for example "friends party"):</label>
        <input type="text" name="tags">
        <br><br>

        <label>Photo:</label>
        <input type="file" name="photo" accept="image/*" required>
        <br><br>
        
        <input type="submit" value="Upload">
    </form>

    <br>

    <a href="/albums">Back to Albums</a>
</body>
</html>